title {
  font-family: arial;
  font-size: 24px;
  margin: auto;
  text-align: center;
}
body {
  background-color: lightblue;
  font-family: arial;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

h1 {
  color: white;
  font-family: arial;
  text-align: center;
  margin: auto;
  text-align: center;
  font-size: 12px;
}

p {
  font-size: 16px;
}

.all {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 16px;
}

.left {
  left: 0;
  width: 20%;
  background-color: deepskyblue
}

.right {
  right: 0;
  width: 80%;
  background-color: lightblue;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 10%;
} 
